<!DOCTYPE html>
<html lang="en" class="html_login">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Page non trouvé</title>
</head>
<body class="body_login">
    <div style="text-align: center; margin-top: 300px;">
        <h1 style="color: white;">Erreur 404: Page non trouvée</h1>
        <p style="color: white;">Désolé, la page que vous recherchez n'a pas été trouvée.</p>
        <a href="/"><button class="button">Retourner à la page d'accueil</button></a>
    </div>
</body>
</html>