<div class="profile-container">
    <img src="https://www.soleymanevienne.com/assets/img/about-removebg-preview.png" alt="Profile Image" class="small-image">
    <div class="profile-text">Vienne Soleymane</div>
</div>
<div class="profile-container">
    <img src="https://media.licdn.com/dms/image/D4E03AQE1RAL6Q53Dkg/profile-displayphoto-shrink_800_800/0/1711122136243?e=1723075200&v=beta&t=kkwIH1gTZqOkvRnCAG4F3npd1lz4X7d2pERPu866Pic" alt="Profile Image" class="small-image">
    <div class="profile-text">Habdi Souleiman</div>
</div>