<!DOCTYPE html>
<html lang="en" class="html_login">
<head>
  <title>Réinitialisation du mot de passe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="body_login">

<div>
    <div>
        <div class="login-box">
            <h2 class="animate-charcter">Mot de passe oublié</h2>
            <form action="/reset_password" method="POST">
                <div class="user-box">
                    <input type="email" id="email" name="email" required="">
                    <label for="email">Email</label>
                </div>
                <div class="user-box">
                    <input type="password" id="new_password" name="new_password" required="">
                    <label for="new_password">Nouveau mot de passe</label>
                </div>
                <div class="user-box">
                    <input type="password" id="confirm_password" name="confirm_password" required="">
                    <label for="confirm_password">Confirmez le mot de passe</label>
                </div>
                <button type="submit" class="button">Confirmer</button>
            </form>
            <p><a class="a_login" href="/login">Retour à la page de connexion</a></p>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

</body>
</html>
